.header
	margin-bottom 59px
	padding-top 48px
	padding-right 54px
	padding-left 45px
	
	&__top
		position relative
			
	&__logo
		padding-top 61px
		padding-left 7px
		width 154px
		height 52px
		font-size 10px
		background url(../images/logo.png) 0 12px no-repeat
	
	&__secret
		position absolute
		top 0
		right 0
		width 252px
		height 106px
		background url(../images/secret.png) no-repeat
		background-size cover
		
	&__case
		margin-top 72px
		margin-left 326px
		width 221
		height 118px
		background url(../images/case.png) no-repeat
